<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link "  [routerLink]="['informacion']"
    routerLinkActive="active">
      <h5>
      Informacion
      </h5>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['configuracion']"
    routerLinkActive="active">
      <h5>
      Configuracion
      </h5>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">
      <h5>
      Disabled
      </h5>
    </a>
  </li>
</ul>
