
<div class="footer-bg text-white col-md-12">

    <br>
    <div class="row text-center">
      <div class="col-md-4">
        <h5>Redes sociales</h5>
        <hr class="hrwhite">
          <img src="../../../assets/images/ficon.png" class="imagenIcon">
          <h5>Facebook</h5>
          <img src="../../../assets/images/iicon.png" class="imagenIcon">
          <h5>Instagram</h5>
          <img src="../../../assets/images/ticon.png" class="imagenIcon">
          <h5>Twitter</h5>
      </div>
      <div class="col-md-4">
        <h5>Sobre nosotros</h5>
        <hr class="hrwhite">
        <h5>Sobre nosotros</h5>
        <h5>Como trabajamos</h5>
        <h5>Seguridad</h5>
      </div>
      <div class="col-md-4">
        <h5>Terminos</h5>
        <hr class="hrwhite">
        <h6>Politica y privacidad</h6>
        <h6>Terminos y condiciones</h6>
        <h6>Pilitica de Copyright </h6>
        <h6>Codigo de conducta</h6>
      </div>
    </div>
    <div class="row terms-bg">
      Derechos reservados © 2018  TrabajApp
    </div>
</div>
